<div class="container">
    <section class="resume" *ngIf="!nextProduct">
        <div class="user-name-container">
            <img class="home-logo" src="../../../assets/icons/back.svg" alt="logo-appetit">
            <h3 class="user-name">Novo pedido</h3>
            <hr class="line">
            <p class="sub-title">Acompanhe aqui um resumo desta venda.</p>
        </div>
    </section>

    <section class="summary-order" *ngIf="nextProduct">
        <div class="user-name-container">
            <img class="home-logo" src="../../../assets/icons/back.svg" alt="logo-appetit">
            <h3 class="user-name">Novo pedido</h3>
            <hr class="line">

            <div class="summary-product-container">
                <h6 class="summary-product-title">Produto</h6>
                <div class="summary-product">
                    <span><img class="product-image" src="{{summaryProduct.image}}" alt="logo-appetit"></span>
                    <span class="summary-product-description">{{summaryProduct.description}}</span>
                    <span>{{summaryProduct.price / summaryProduct.quantity | currency: 'R$'}}</span>
                </div>
                <h6 class="summary-product-observation">{{summaryProduct.observation}}</h6>
            </div>
        </div>
        <hr class="line-products">

        <div class="summary-clients" *ngIf="clientSelected.length >= 1">
            <h4 class="client-text">Clientes</h4>
            <div class="card-client-container" *ngFor="let c of clientSelected; let i=index">
                <div class="card-client">
                    <span><img class="client-image" src="{{c.image}}" alt="logo-appetit"></span>
                    <span class="client-name">{{c.name}}</span>
                </div>
                <hr class="client-line">
            </div>
        </div>
        <hr *ngIf="clientSelected.length > 1" class="line-products">
        <div class="total">
            <span>
                <h4 class="total-label">Total</h4>
            </span>
            <span>
                <h4 class="total-price">{{summaryProduct.price | currency: 'R$'}}</h4>
            </span>
        </div>
    </section>

    <section class="new-order">
        <div class="img-user-container">
            <img class="home-logo" src="../../../assets/img/user.svg" alt="logo-appetit">
        </div>

        <app-inf-order *ngIf="!productSelected || summaryProduct" (product)="receiveProduct($event)"
            [summaryProduct]=summaryProduct (nextProduct)="receiveNextProduct($event)"
            (clientSelected)="receiveNextClient($event)"></app-inf-order>
        <app-order-product-detail (productObservation)="receiveproductObservation($event)"
            *ngIf="productSelected && !summaryProduct" [productSelected]=productSelected></app-order-product-detail>
    </section>
</div>