<div class="container">
    <section class="resume">
        <!-- <div class="img-user-container">
            <img class="home-logo" src="../../../assets/img/user.svg" alt="logo-appetit">
        </div> -->
        <div class="user-name-container" >
            <img class="home-logo" src="../../../assets/icons/back.svg" alt="logo-appetit">
            <h3 class="user-name">Novo pedido</h3>
            <hr class="line">

            <p class="sub-title">Acompanhe aqui um resumo desta venda.</p>
        </div>
    </section>

    <section class="new">
    </section>
</div>

