<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="opened">
        <img class="home-logo" src="../../../assets/img/Home_page.svg" alt="logo-appetit">
        <mat-nav-list>
            <app-menu-list-item *ngFor="let item of menu" [item]="item"></app-menu-list-item>
        </mat-nav-list>
        <footer>
            <p class="sub-title">Infoway Gestão em Saúde ©, 2019.</p>
        </footer>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>