mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  background-color: #ff8822;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

mat-sidenav-container {
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.mat-sidenav {
  width: 342px;
  overflow-y: hidden;
  overflow-x: hidden;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.home-logo {
  width: 111px;
  height: 79.71px;
  margin-top: 56px;
  margin-left: 115px;
  margin-bottom: 56px;
}

.sub-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #ffffff;

  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  margin-left: 3%;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 !important;
}

.orders {
  background-color: #ffffff;
  height: 56px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}

.clients {
  height: 56px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}

.icons {
  margin-left: 12%;
  color: #ffffff;
}

.text-active {
  margin-left: 6%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  text-transform: uppercase;

  color: #ff8822;
}

.text {
  margin-left: 6%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  text-transform: uppercase;

  color: #ffffffc0;
}

.chield-active {
  color: #ffffff;
}

.childs {
  margin-left: 5%;
}
