.container {
  padding-left: 40px;
  padding-right: 1rem;

  width: auto;
}

.img-user-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 40px;
}

.user-name {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Black 0.88% */

  color: rgba(0, 0, 0, 0.88);
}

.line {
  width: 224px;
  height: 2px;
  background: #ff8822;
  margin-left: 0;
}

.btn-new-order {
  margin-top: 3%;
  width: 100%;
  height: 56px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;

  text-align: start;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  text-transform: uppercase;

  /* Black 0.56% */

  color: rgba(0, 0, 0, 0.56);
}

.icon-plus {
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  margin-top: 15px;
  width: 100%;
}

/* Border */
::ng-deep .mat-form-field {
  color: #ff8822 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff884d !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: #ff884d;
}

.order-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.order-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 6400;
  font-size: 16px;
  line-height: 24px;

  color: rgb(117 117 117 / 88%);
}

.card {
  margin-top: 1%;
  width: 100%;
  height: 74px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;

  text-align: start;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.56);

  display: flex;
  flex-direction: row;
}

.card-img {
  margin: 16px;
}

.card-client-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.87);

  margin-bottom: 0;
  margin-top: 15px;
}

.card-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.54);
}

.card-sale-description {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.card-total {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: right;

  color: rgba(0, 0, 0, 0.87);
  margin-top: 20px;
}

.orders {
  margin-top: 6px;
}
