<div class="title-order-container">
    <h3 class="user-name">Informações para o pedido</h3>
    <hr class="line">
    <p class="subtitle-new-order">Preencha as informações abaixo para concluir esta venda.</p>
</div>

<div class="progress-container">
    <p>Passo {{numberPass}} de 3</p>

    <div class="wrapper">
        <div class="progress-bar">
            <span class="progress-bar-fill" [ngStyle]="{'width': size + '%'}"></span>
        </div>
    </div>
</div>
<app-order-product *ngIf="!_nextProduct" (product)="receiveProduct($event)" (nextProduct)="receiveNextProduct($event)"
    [summaryProduct]=_summaryProduct></app-order-product>
<app-order-clients *ngIf="_nextProduct && (size != 100)" (_clientSelected)="receiveNextClient($event)">
</app-order-clients>
<app-order-status *ngIf="size == 100"></app-order-status>