<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
    class="menu-list-item">
    <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
    <img class="login-logo" class="routeIcon" src={{item.iconName}} alt="logo-appetit">
    <span>{{item.displayName}}</span>
    <span fxflex class="twistie-separator"></span>
</a>
<div *ngIf="expanded">
    <app-menu-list-item-child class="menu-child" *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list-item-child>
</div>