<main class="container login-body">
    <img class="login-logo" src="../../../assets/img/logo.svg" alt="logo-appetit">
    <h3 class="login-title">Seja bem-vindo!</h3>
    <p class="login-subtitle">Nós sabemos a importância de estar sempre de barriga cheia e o quanto isso pode ajudar no
        seu dia.</p>
    <form>
        <mat-form-field appearance="outline" class="login-form-email">
            <mat-label>
                Email
            </mat-label>
            <input class="login-input-email" type="email" matInput placeholder="Email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-form-password">
            <mat-label>
                Senha
            </mat-label>
            <input type="password" matInput placeholder="Senha" required>
        </mat-form-field>

        <a class="login-recovery">RECUPERAR MINHA SENHA</a>

        <div class="btn-container">
            <button class="login-button">Entrar</button>
        </div>
    </form>

    <footer>
        <p class="login-footer">Infoway Gestão em Saúde ©, 2019.</p>
    </footer>


</main>