.twistie-separator {
  flex: 1 1 0%;
}

.routeIcon {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 16pt;
}

.menu-item-text {
  font-size: 10pt;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.menu-twistie {
  font-size: 10pt;
  height: 12px;
  width: 12px;
}

.mat-list-item.active {
  color: #ffffff !important;
  height: 56px;
}

.mat-list-item {
  font-size: 10pt;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.54);
}
