<section class="container">
    <div class="img-user-container">
        <img src="../../../assets/img/user.svg" alt="logo-appetit">
    </div>
    <div class="img-container">
        <img src="../../../assets/img/chef.svg" alt="logo-appetit" class="img-size">
    </div>
        <h4 class="text">Pedido feito com sucesso!</h4>
    <div class="butons">
        <button class="btn-list" (click)="list()">voltar para lista de pedidos</button>
        <button class="btn-new" (click)="new()">FAZER NOVO PEDIDO</button>
    </div>
</section>